<% if current_user.restaurants.empty? %>
    <p>No restaurants to show!</p>
<% else %>
    <% current_user.restaurants.reservations.each do |x| %>
        <p>Name: <%= x.name %></p>
        <p>Email: <%= x.email %></p>
        <p>Date: <%= x.reservation_date %></p>
        <p>Time: <%= x.reservation_time %></p>
        <p>phone: <%= x.phone %></p>
        </br>
    <% end %>
<% end %>
