<% if current_user.restaurants.empty? %>
    <p>No restaurants to show</p>
<% else %>
    <% current_user.restaurants.each do |x| %>
        <p>Name: <%= x.name %></p>
        <p>Description: <%= x.description %></p>
        <p>Address: <%= x.address %></p>
        <p>Phone: <%= x.phone %></p>
        <p>Stars: <%= x.stars.length %></p>
        </br>
    <% end %>
<% end %>
