<% @reservations.each do |x| %>
<div style="width: inherit; text-indent: -2em; padding-left: 2em;">
    <div><%= x.name %></div>
    <div><%= x.email %></div>
    <div><%= x.time %></div>
    <div><%= x.phone %></div>
    <div><%= x.date %></div>
    <div><%= x.time %></div>
    <span><%= link_to 'Show', reservation_path(x) %></span>

</div>
<% end %>
<%= link_to 'Create New Reservation', new_reservation_path %>
