<p>
    <strong>Name:</strong>
    <%= @reservation.name %>
</p>
</br>
<p>
    <strong>Email:</strong>
    <%= @reservation.email %>
</p>
</br>
<p>
    <strong>Restaurant:</strong>
    <%= @restaurant.name %>
</p>
</br>
<p>
    <strong>Date:</strong>
    <%= @reservation.reservation_date %>
</p>
</br>
<p>
    <strong>Time:</strong>
    <%= @reservation.reservation_time %>
</p>
</br>
<p>
    <strong>Phone:</strong>
    <%= @reservation.phone %>
</p>
</br>
<%= link_to 'Edit', edit_restaurant_reservation_path(@restaurant.id, @reservation.id) %>
<%= link_to 'Delete', restaurant_reservation_path(@restaurant.id, @reservation.id), method: :delete %>
