<%= link_to 'Home', root_path %>


<!-- #<h1>New Restaurant</h1> -->
<%= form_for @restaurant do |r| %>
    <% if @restaurant.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
        <ul>
            <% @restaurant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <p>
        <%= r.label :name %><br>
        <%= r.text_field :name %>
    </p>

    <p>
        <%= r.label :description %>
        <%= r.text_field :description %>
    </p>

    <p>
        <% Category.all.each do |category| %>
            <label>
                <%= check_box_tag "restaurant[category_ids][]", category.id, r.object.categories.include?(category) %>
                <%= category.name %>
            </label>
        <% end %>
    </p>

    <p>
        <%= r.label :address %>
        <%= r.text_field :address %>
    </p>

    <p>
        <%= r.label :phone %>
        <%= r.text_field :phone %>
    </p>

    <p>
        <%= r.submit %>
    </p>
<% end %>
