<% @restaurants.each do |x| %>
<div style="width: inherit; text-indent: -2em; padding-left: 2em;">
    <div><%= x.name %></div>
    <div><%= x.description %></div>
    <div><%= x.address %></div>
    <div><%= x.phone %></div>
    <span><%= link_to 'Show', restaurant_path(x) %></span>
    </br>
    </br>
</div>
<% end %>

</br>

<%= link_to 'Create New Restaurant', new_restaurant_path %>
