<p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
</p>
</br>
<p>
    <strong>Description:</strong>
    <%= @restaurant.description %>
</p>
</br>
<p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
</p>
</br>
<p>
    <strong>Phone:</strong>
    <%= @restaurant.phone %>
</p>
</br>


<% if current_owner == @restaurant.owner %>
    <%= @restaurant.reservations.each do |res| %>
        <p>Name: <%= res.name %></p>
        <p>Email: <%= res.email %></p>
        <p>Date: <%= res.reservation_date %></p>
        <p>Time: <%= res.reservation_time %></p>
        <p>Phone: <%= res.phone %></p>
        </br>
    <% end %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
    <%= link_to 'Delete', restaurant_path(@restaurant), method: :delete %>
<% else %>
    <%= link_to 'Make Reservation Here', new_restaurant_reservation_path(restaurant_id: @restaurant.id) %>
<% end %>



<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD5nt-kaFLNPJ4eifWEBOKyplZFE35MZ6E&q=<%= @restaurant.address %>"></iframe>
